@import '../scss/puzzleMix.scss';

//1280電腦以上
@media (min-width: 1024px) {



    .playground{
        h2{    //標題
            @include fontSet(500,30px);
        }
        .frame{
            margin: 2vh auto;
            .puzzle{
                @include exterior($blockDeskTop); //主要外觀及偏移
                > div{
                    @include outward($blockDeskTop / 3, $blockDeskTop / 3);
                }
            }
            article{
                @include exterior($blockDeskTop); //主要外觀及偏移
                transform: translate(calc(#{$blockDeskTop} / 2 + 1vw),0);  //偏移
                padding: 50px 22px; //內容留白
                > h3{
                    font-size: 30px;
                }
                > p{
                    font-size: 16px;
                    padding-top: 20px;
                    line-height: 28px;
                }
            }
        }
        > button{
            &:nth-child(3){
                @include button(calc(#{$blockDeskTop} + 4vh), 240px, 60px, 20px);  //代入按鈕mixin
            }
            &:nth-child(4){
                display: none;
            }
        }
        [class*="puzzleUnit"]{
            @include outward($blockDeskTop / 3, $blockDeskTop / 3);
        }
    }

    
    @keyframes picReward{
        from{
            transform: translate(0,0);
        }
        to{
            transform: translate(calc(#{-$blockDeskTop} / 2 - 1vw),0);
        }
    }

}



//小平板
@media screen and (min-width: 768px) and (max-width: 1023px){


    .playground{
        h2{    //標題
            @include fontSet(500,25px);
        }
        .frame{
            margin: 5vh auto;
            .puzzle{
                @include exterior($blockTablet); //主要外觀及偏移
                > div{
                    @include outward($blockTablet / 3, $blockTablet / 3);
                }
            }
            article{
                @include exterior($blockTablet); //主要外觀及偏移
                transform: translate(calc(#{$blockTablet} / 2 + 1vw),0);  //偏移
                padding: 18px; //內容留白
                > h3{
                    font-size: 20px;
                }
                > p{
                    font-size: 14px;
                    padding-top: 12px;
                    line-height: 22px;
                }
            }
        }
        > button{
            &:nth-child(3){
                @include button(calc(#{$blockTablet} + 10vh),200px, 50px, 17px);  //代入按鈕mixin
            }
            &:nth-child(4){
                display: none;
            }
        }
        [class*="puzzleUnit"]{
            @include outward($blockTablet / 3, $blockTablet / 3);
        }
    }


    @keyframes picReward{
        from{
            transform: translate(0,0);
        }
        to{
            transform: translate(calc(#{-$blockTablet} / 2 - 1vw),0);
        }
    }

}


//手機以下
@media (max-width: 767px) {


    .playground{
        h2{    //標題
            @include fontSet(500,25px);
        }
        .frame{
            margin: 5vh auto;
            .puzzle{
                @include exterior($blockMobile); //主要外觀及偏移
                > div{
                    @include outward($blockMobile / 3, $blockMobile / 3);
                }
            }
            article{
                @include exterior($blockMobile); //主要外觀及偏移
                padding: 18px; //內容留白
                background-color: rgba($subColor,0.4); //動態增加
                > h3{
                    font-size: 17px;
                }
                > p{
                    font-size: 13px;
                    padding-top: 10px;
                    line-height: 19px;
                }
            }
        }
        > button{
            &:nth-child(3){
                @include button(calc(#{$blockMobile} + 10vh),200px, 50px, 17px);  //代入按鈕mixin
            }
            &:nth-child(4){
                @include button(3vh,200px, 50px, 17px);  //代入按鈕mixin
            }
        }
        [class*="puzzleUnit"]{
            @include outward($blockMobile / 3, $blockMobile / 3);
        }
    }


}

