@import '../scss/slideShowMix.scss';


//for #wrapper
//小平板以上共通設定(890px)
@media only screen and (min-width: 890px){

    body{
        @include flex(row);
        justify-content: center;
    }

    #wrapper{
        @include flex(row);
        header{
            > div{
                @include outward(180px,15px);
            }
            > p{
                writing-mode: vertical-rl;
                text-decoration: underline;
                padding-top: 100px;
                margin-left: 7px;
                line-height: 90px;
                font-size: 80px;
                letter-spacing: 4px;
            }
        }
        .pictureBlock{
            margin:90px 0 0 43px;
            > div{
                margin: 25px;
            }
        }
    }
}



//tablet部份(600px以上)
@media only screen and (max-width: 889px) and (min-width:600px){

    #wrapper{
        header{
            margin: 30px 0 20px;
            > div{
                @include outward(10px,140px);
            }
            > p{
                font-size: 70px !important;
                margin-left: 40px !important;
            }
        }
        .pictureBlock{
            > div{
                margin: 15px;
            }
        }
    }
}

//phone以下(599px以下)
@media only screen and (max-width:599px){

    #wrapper{
        header{
            margin: 30px 0 20px;
            > div{
                @include outward(10px,100px);
            }
            > p{
                font-size: 50px;
                margin-left: 30px;
            }
        }

        .pictureBlock{
            > div{
                @include outward(170px !important,170px !important);
                margin: 8px;
            }
        }
    }
}


//.showDetail響應式設定

@media only screen and (min-width: 1024px){

    .showDetail{
        > div{
            height: 100%;
            float: left;
            //position: relative;
            //說明文字排版
            &:first-child{
                width: 28%;
                padding-top: 2%;
                margin-right: 2%;
                > div{
                    &:first-child{
                        position: relative;
                        p{
                            @include fontSet(600,50px);
                        }
                        div{
                            transform: rotate(45deg);
                            background-color: white;
                            @include outward(5px,100px);
                            @include position(10px,45px);
                        }
                        span{
                            @include fontSet(400,35px);
                            @include position(70px,60px);
                        }
                    }
                    &:last-child{
                        @include fontSet(400,18px);
                        position: absolute;
                        bottom: 5%;
                        p{  
                            @include fontSet(600,25px);
                            line-height: 30px;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
            //相片及面版控制符號
            &:last-child{
                width: 70%;
            }
        }
    }
}

@media only screen and (max-width: 1023px){


    .showDetail{
        > div{
            width: 100%;
            //position: relative;
            background-color: blue;
            //說明文字排版
            &:first-child{
                height: 30%;
                > div{  //弄到此
                    &:first-child{
                        position: relative;
                        p{
                            @include fontSet(600,50px);
                        }
                        div{
                            transform: rotate(45deg);
                            background-color: white;
                            @include outward(5px,100px);
                            @include position(10px,45px);
                        }
                        span{
                            @include fontSet(400,35px);
                            @include position(70px,60px);
                        }
                    }
                    &:last-child{
                        @include fontSet(400,14px);
                        position: absolute;
                        bottom: 5%;
                        p{  
                            @include fontSet(600,25px);
                            line-height: 20px;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
            //相片及面版控制符號
            &:last-child{
                height: 70%;
            }
        }    
    }
}
