@import "../sass/import9X9.scss";

*{
            box-sizing: border-box;
       -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    @include colorset($keyColor, $backColor);
    font-family: 'Poppins', sans-serif;
}

#wrapper{
    margin: 40px auto;
    display: flex;           //顯示為flex
    justify-content: center; //元素置中
    flex-direction: row;     //行內元素往右
    flex-wrap: wrap;         //判定自動換行

    > div{
        @include outward(10px 15px,300px);
        height: 340px;
        &:first-child{
            margin-top: 10px;
            text-align: center;
            > div{
                display: flex;
                justify-content: space-around;
                margin: 15px 0px;
                > span{
                    font-size: 20px;
                    padding: 0 15px;
                }
                > div{
                    @include outward(12px 0, 90%);
                    height: 1px;
                    background-color: $keyColor ;
                }
            }
            > h1{
                margin-top: 90px;
                font-size: 45px;
            }
            > p{
                font-size: 18px;
                margin-bottom: 90px;
            }
        }
        &:nth-child(n+2){
            background-color: white;
            //判斷換行
            display: flex ;
            flex-direction: column ;
            flex-wrap: wrap ;
            justify-content:space-between; 
            //㘣角及陰影
            border-top-left-radius: 30%;
            border-bottom-right-radius: 10%;
            box-shadow: #9D9D9D 3px 3px 9px;
            //行內留白
            padding: 65px 12px 65px 35px;
            & h2{
                font-family: 'Noto Sans TC', sans-serif;
                font-size: 130px;
                text-shadow: 4px 3px 0px #F0F0F0;
                margin:-50px 0 -32px 14px;
            }
            & p{
                font-size: 20px;
                padding:5px 0 0 10px;
            }
        }
    }
}