@import '../scss/puzzleMix.scss';



@media (min-width: 1024px) {



    .playground{
        .frame{
            .puzzle{
                @include exterior($blockDeskTop); //主要外觀及偏移
                > div{
                    @include outward($blockDeskTop / 3, $blockDeskTop / 3);
                }
            }
            article{
                @include exterior($blockDeskTop); //主要外觀及偏移
                transform: translate(calc(#{$blockDeskTop} / 2 + 1vw),0);  //偏移
                padding: 22px; //內容留白
                > h3{
                    font-size: 30px;
                }
                > p{
                    font-size: 16px;
                    padding-top: 20px;
                    line-height: 28px;
                }
            }
        }
        button{  //重來按鈕
            @include button(calc(#{$blockDeskTop} + 4vh));  //代入按鈕mixin
        }
    }


    @keyframes picReward{
        from{
            transform: translate(0,0);
        }
        to{
            transform: translate(calc(#{-$blockDeskTop} / 2 - 1vw),0);
        }
    }


}


/*


@media screen and (min-width: 768px) and (max-width: 1023px){




}


@media (max-width: 767px) {



}

*/