@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin outward($width,$height) {  
    width: $width;
    height: $height;
}

@mixin colorSet($color,$backgroundColor) {
    color: $color;
    background-color: $backgroundColor;
}

@mixin fontSet($fontWeight, $font-size) {
    font-weight: $fontWeight;
    font-size: $font-size;
}

@mixin button($margintop){  //按鈕
    @include colorSet($keyColor,transparent);
    @include outward(240px,60px);
    @include fontSet(300, 20px);
    cursor: pointer;
    display: block;
    border: 2px solid $keyColor;
    margin: $margintop auto 0;
    line-height: 60px;
    &:hover{
        @include colorSet($subColor,rgba($keyColor,0.6));
        transition: 0.4s;
    }
}


@mixin exterior($exterior) {   //拼圖區主要外觀
    position: absolute;
    left: calc(50% - #{$exterior} / 2);
    @include outward($exterior, $exterior);
}


$keyColor:white;
$subColor:black;

//區塊高寬設定

$miblockDeskTop:-500px;

$blockDeskTop:500px;
$blockTablet:420px;
$blockMobile:300px;
