@charset "UTF-8";
/*color變數*/
/*響應式變數*/
body {
  background-color: #F0F0F0;
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
}

#wrapper {
  margin: 0 auto;
  padding: 40px;
}

header {
  width: 100%;
}

header div {
  float: left;
}

header h1 {
  font-size: 43px;
  font-weight: 400;
  padding: 10px 0 20px;
}

header select {
  border: 2px solid black;
  width: 100%;
}

header table, header tr, header td {
  border: 2px solid black;
  table-layout: fixed;
  height: 50px;
}

header table thead tr td:nth-child(1), header tr thead tr td:nth-child(1), header td thead tr td:nth-child(1) {
  background-color: #82D900;
}

header table thead tr td:nth-child(2), header tr thead tr td:nth-child(2), header td thead tr td:nth-child(2) {
  background-color: #FFFF37;
}

header table thead tr td:nth-child(3), header tr thead tr td:nth-child(3), header td thead tr td:nth-child(3) {
  background-color: #EAC100;
}

header table thead tr td:nth-child(4), header tr thead tr td:nth-child(4), header td thead tr td:nth-child(4) {
  background-color: #D94600;
}

header table thead tr td:nth-child(5), header tr thead tr td:nth-child(5), header td thead tr td:nth-child(5) {
  background-color: #921AFF;
}

header table thead tr td:nth-child(6), header tr thead tr td:nth-child(6), header td thead tr td:nth-child(6) {
  background-color: #9F0050;
}

#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px 30px;
}

#title h2, #title p, #title div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#title h2, #title p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#title h2 {
  font-size: 36px;
}

#title p {
  display: block;
  text-align: right;
  margin-top: 13px;
}

#title div {
  -webkit-box-flex: 30;
      -ms-flex-positive: 30;
          flex-grow: 30;
  border-top: 2px dashed black;
  margin-top: 20px;
}

#display > div {
  float: left;
}

#display > div:first-child {
  border: 2px solid black;
}

#display > div:first-child > div:first-child > p {
  float: left;
  font-size: 30px;
  padding: 20px 0;
  border-bottom: 2px solid black;
}

#display > div:first-child > div:first-child::after {
  content: "";
  display: block;
  clear: both;
}

#display > div:first-child > div:first-child > p:first-child {
  width: 55%;
  border-right: 2px solid black;
}

#display > div:first-child > div:first-child > p:last-child {
  width: 45%;
}

#display > div:first-child > div:nth-child(n+2) {
  border-bottom: 1px solid black;
  margin: 10px 50px;
}

#display > div:first-child > div:nth-child(n+2) > p {
  font-size: 24px;
  padding: 15px 0;
}

#display > div:first-child > div:nth-child(n+2)::after {
  content: "";
  display: block;
  clear: both;
}

#display > div:first-child > div:nth-child(n+2) > p:first-child {
  padding-left: 10px;
  float: left;
}

#display > div:first-child > div:nth-child(n+2) > p:first-child span {
  font-size: 12px;
}

#display > div:first-child > div:nth-child(n+2) > p:last-child {
  padding: 25px 10px 0px 0px;
  float: right;
}

#display > div:first-child > div:last-child {
  border: none;
}

#display > div:last-child {
  width: calc(67% - 30px);
  margin-left: 30px;
}

#display > div:last-child > div {
  float: left;
  width: calc(50% - 15px);
  border: 2px solid black;
}

#display > div:last-child > div > p {
  float: left;
  font-size: 30px;
  padding: 20px 0;
}

#display > div:last-child > div::after {
  content: "";
  display: block;
  clear: both;
}

#display > div:last-child > div > p:first-child {
  width: 55%;
  border-right: 2px solid black;
}

#display > div:last-child > div > p:last-child {
  width: 45%;
}

#display > div:last-child > div:nth-child(2n) {
  margin-left: 30px;
}

#display > div:last-child > div:nth-child(n+3) {
  margin-top: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.siteHover:hover {
  background-color: #ADADAD;
  cursor: pointer;
}

.noAQIData {
  color: red;
  background-color: transparent;
}

.airLV1 {
  background-color: #82D900;
}

.airLV2 {
  background-color: #FFFF37;
}

.airLV3 {
  background-color: #EAC100;
}

.airLV4 {
  background-color: #D94600;
}

.airLV5 {
  background-color: #921AFF;
}

.airLV6 {
  background-color: #9F0050;
}
/*# sourceMappingURL=evAir.css.map */